* {
  font-family: url(../fonts/Biennale/Medium.otf) !important;
}

.about {
  font-weight: 700;
  font-size: 62px;
  line-height: 89px;
  letter-spacing: -0.1rem;
  display: flex;
  align-items: flex-end;

  color: #43247a;
}
.aboutus {
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;

  color: #43247a;
}
.aboutParagh {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;

  color: #737373;

  opacity: 0.8;
}

.contactUs {
  width: 200px;
  height: 66.67px;
  left: calc(50% - 200px / 2 - 473px);
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  border-radius: 15.56px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.purple {
  background-color: #3c1e6c;
  height: 622px;
  margin: 0 2rem !important;
  border-radius: 32px;
}
.firstClient {
  font-weight: 600;
  font-size: 45px;
  line-height: 66px;
  text-align: center;
  letter-spacing: -0.05rem;
  color: #ffffff;
}
.ourClient {
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.clientParagh {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
}
.ourClientSec {
  margin: 8rem auto 18rem !important;
}

.swiper.swiper-team {
  width: 100%;
  height: 80%;
}

.swiper-team .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

.swiper-team .swiper-slide img {
  display: block;
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-team .swiper-button-prev,
.swiper-team .swiper-button-next {
  width: 45px;
  height: 45px;
  margin-top: -16px;
  background-color: #e94e1b;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  top: unset;
  bottom: 0;
}

.swiper-team .swiper-button-next.swiper-button-disabled,
.swiper-team .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #3c1e6c !important;
  background-color: #f7f7f7 !important;
}
.title .swiper-button-next.swiper-button-disabled,
.title .swiper-button-prev.swiper-button-disabled,
.swiper-cursious .swiper-button-next.swiper-button-disabled,
.swiper-cursious .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #3c1e6c !important;
  background-color: #fff !important;
}

.swiper-team .swiper-button-prev,
.swiper-team .swiper-rtl .swiper-button-next {
  left: 45.5%;
  right: auto;
}

.swiper-team .swiper-button-next,
.swiper-team .swiper-rtl .swiper-button-prev {
  right: 45.5%;
  left: auto;
}

.swiper-team .swiper-button-prev::after,
.swiper-team .swiper-button-next::after,
.title .swiper-button-prev::after,
.title .swiper-button-next::after {
  content: "";
}

.swiper-team .swiper-wrapper {
  height: 565px;
}

.swiper-team .slide-text {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  bottom: -13%;
  left: 5%;
  background-color: #fff;
  width: 90%;
  height: 110px;
  border-radius: 15px;
}
.teamEnrich {
  font-weight: 800;
  font-size: 45px;
  line-height: 66px;

  color: #43247a;
}
.titleTeam {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;

  color: #737373;

  opacity: 0.8;
}

/*dropdown */

.liStyle ul ul li a div h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #43247a;
}
.liStyle ul ul li a div p {
  font-weight: 400;
  font-size: 9px;
  color: #808080;
}

.liStyle ul ul li a div {
  border-radius: 7rem;
  width: 50% !important;
}
.liStyle ul ul li a {
  padding: 1rem;
}
.liStyle ul ul li a:hover {
  /* background-color: #e94e1b; */
  background-color: transparent;
  color: white;
  border-radius: 1rem;
}
.liStyle ul ul li a div:hover > h5 {
  color: white;
}

@media only screen and (max-width: 600px) {
  .aboutUus {
    flex-wrap: wrap;
  }

.aboutUss{
  font-size: 50px;
}
.aboutParagh{
  font-size: 15px;
}

.contactUs{
  width: 150px;
  font-size:12px
}

  .aboutt {
    margin: 1rem 3rem !important;
  }
  .priority {
    flex-wrap: wrap-reverse;
  }

  .firstClient {
    font-size: 35px;
  }
  .clientParagh {
    font-size: 18px;
  }
  .ourService {
    margin-top: 10rem !important;
  }
  .academyTeam {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeam {
    text-align: center !important;
    margin: 0 auto !important;
  }
  .teamEnrich {
    font-size: 37px;
  }

  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    left: 38.5% !important;
    right: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    right: 40.5% !important;
    left: auto;
  }

    .ourService {
    margin-top: 3rem !important;

}

}
@media only screen and (min-width: 600px) {
  .aboutUus {
    flex-wrap: wrap;
  }
  .aboutt {
    margin: 1rem 3rem !important;
  }
  .priority {
    flex-wrap: wrap-reverse;
  }

  .firstClient {
    font-size: 35px;
  }
  .clientParagh {
    font-size: 18px;
  }
  .ourService {
    margin-top: 10rem !important;
  }
  .academyTeam {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeam {
    text-align: center !important;
    margin: 0 auto !important;
  }
  .teamEnrich {
    font-size: 37px;
  }





  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    left: 38.5% !important;
    right: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    right: 40.5% !important;
    left: auto;
  }

    .ourService {
    margin-top: 3rem !important;

}


}
@media only screen and (min-width: 768px) {
  .aboutUus {
    flex-wrap: wrap;
  }
  .aboutt {
    margin: 1rem 3rem !important;
  }
  .priority {
    flex-wrap: wrap-reverse;
  }

  .firstClient {
    font-size: 35px;
  }
  .clientParagh {
    font-size: 18px;
  }
  .ourService {
    margin-top: 10rem !important;
  }
  .academyTeam {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeam {
    text-align: center !important;
    margin: 0 auto !important;
    font-size: 22px;
  }
  .titleTeamParagh {
    width: 75% !important;
  }
  .teamEnrich {
    font-size: 37px;
  }




  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    left: 41.5% !important;
    right: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    right: 41.5% !important;
    left: auto;
  }

    .ourService {
    margin-top: 12rem !important;
}


}
@media only screen and (min-width: 992px) {
  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .aboutUus,
  .priority {
    flex-wrap: nowrap;
  }
  .about {
    font-size: 50px;
    margin-bottom: 0.7rem !important;
  }
  .aboutParagh {
    font-size: 16px;
    margin-bottom: 0.7rem !important;
  }
  .contactUs {
    width: 170px !important;
    height: 60px;
  }

  .ourService {
    margin-top: -1rem !important;
  }
  .vedioo {
    margin-top: -1.5rem !important;
  }

  .titleTeam {
    font-size: 18px !important;
  }
  .teamEnrich {
    font-size: 33px !important;
    line-height: 1rem !important;
    text-align: center !important;
  }

  .academyTeam {
    display: block !important;
  }
 .prevv {
    right: 44.5% !important;
    left: auto;
  }
  .nextt {
    left: 44.5% !important;
    right: auto;
  }


.ourService {
    margin-top: 5rem !important;
}

}



@media only screen and (min-width: 1200px) {


  .titleTeam {
    font-size: 16px !important;
    width: 80%;
    text-align: start !important;
    font-weight: 600 !important;
    margin-left: 8rem !important;
    margin-top: 1rem !important;
  }
  .teamEnrich {
    font-size: 40px !important;
    text-align: start !important;

    line-height: 4rem !important;
    /* text-align: center !important; */
  }
  

  .academyTeam {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    margin: 0 3rem 0 0 !important;
  }

.ourService {
    margin-top: 3rem !important;
}


 .prevv {
    right: 46% !important;
    left: auto;
  }
  .nextt {
    left: 46% !important;
    right: auto;
  }


}





@media only screen and (min-width: 1300px) {
  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .aboutUus,
  .priority {
    flex-wrap: nowrap;
  }
  .about {
    font-size: 55px !important;
    margin-bottom: 2rem !important;
    font-weight: bold !important;
    letter-spacing: 0.05rem;
  }
  .aboutt {
    margin-top: 2rem !important;
  }
  .aboutus {
    font-size: 40px !important;
    margin-bottom: 1rem !important;
    font-weight: bold !important;
    letter-spacing: 0.04rem;
  }
  .aboutParagh {
    font-size: 16px;
    margin-bottom: 0.7rem !important;
    width: 100%;
    font-weight: 600;
    margin-bottom: 3rem !important;
  }
  .firstClient {
    font-size: 44px !important;
  }
  .clientParagh {
    font-size: 15px;
  }
  .contactUs {
    width: 170px !important;
    height: 60px;
    font-size: 13px;
    letter-spacing: 0.06rem;
  }
  .titleTeam {
    font-size: 16px !important;
    width: 80%;
    text-align: start !important;
    font-weight: 600 !important;
    margin-left: 8rem !important;
    margin-top: 1rem !important;
  }
  .teamEnrich {
    font-size: 40px !important;
    text-align: start !important;

    line-height: 4rem !important;
    /* text-align: center !important; */
  }
  

  .academyTeam {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    margin: 0 3rem 0 0 !important;
  }

  .ourService {
    margin-top: -1rem !important;
  }
  .vedioo {
    margin-top: -1.5rem !important;
  }

  .prevv {
    right: 50% !important;
    left: auto;
  }
  .nextt {
    left: 50% !important;
    right: auto;
  }
}
