* {
  font-family: url(../fonts/Biennale/Medium.otf) !important;
}
.default-color {
  color: #43247a !important;
}
.f-17 {
  font-size: 17px;
}
.f-18 {
  font-size: 18px;
}
a {
  text-decoration: none;
}

ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: #212121;
}
h3 {
  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
  color: #000000;
}
input {
  height: 60px;
  background: #f7f7f7 !important;
  border-radius: 1rem !important;
  border: #f7f7f7 1px solid !important;
}
.applynow {
  font-weight: 700;
  font-size: 57px;
  line-height: 80px;

  color: #3c1e6c;
}
.applyparagh {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #494949;
}
label {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #3c1e6c;
}
.submitBtn {
  width: 180px;
  height: 57px;
  left: calc(50% - 200px / 2 - 87.5px);
  top: 594px;
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  border-radius: 15.56px;
  border: none;
  font-weight: 600;
  font-size: 19px;
  color: white;
}

.jobSummary {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
}

.form-control-file {
  -webkit-appearance: none;
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
.form-control-file::-webkit-file-upload-button {
  display: none;
}
.form-control-file:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control-file .custom-file-label::after {
  content: "";
}
.vector {
  left: 92%;
  top: 35%;
}
@media only screen and (max-width: 600px) {
  .summary {
    margin: 0 1rem 0 !important;
  }
  .responsibilities h3 {
    font-size: 18px !important;
    font-weight: bold;
  }
  .responsibilities ul li {
    font-size: 16px;
  }
  .applynow {
    font-size: 40px;
  }
  .applyparagh {
    font-size: 18px;
  }

  /* navbar mobile */

  .dropdownListt {
    display: block !important;
  }

  .showDropdown {
    border: none !important;
  }

  .showDroop {
    margin-bottom: 12rem !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: none !important;
  }

  .showDropdown .dropdownListt {
    margin: -6rem -1.5rem -9rem -1.5rem;
  }
  .liStyle ul ul li a {
    padding: 0.1rem 0 !important;
  }
  .liStyle ul ul li a div h5 {
    font-size: 11px !important ;
  }

  .dropdownMenu ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: 0.7rem;
    width: fit-content !important;
    padding: 0.3rem 0.2rem !important;
    margin: 0 -0.4rem !important;
  }

  .liStyle ul ul li a:hover {
    background-color: transparent;
  }

  .show {
    margin-bottom: 10rem !important;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 0.6;
  }

  .liStyle ul ul {
    padding: 0rem 0.7rem;
  }

  .navbaar .navChoose li {
    margin: -0.2rem 0rem !important;
  }

  .show {
    margin-bottom: 10rem !important;
  }
}

@media only screen and (min-width: 600px) {
  .summary {
    margin: 0 1rem 0 !important;
  }
  .responsibilities h3 {
    font-size: 18px !important;
    font-weight: bold;
  }
  .responsibilities ul li {
    font-size: 16px;
  }
  .applynow {
    font-size: 40px;
  }
  .applyparagh {
    font-size: 18px;
  }

  .dropdownMenu ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: 0.7rem;
    width: fit-content !important;
    padding: 0.3rem 0.2rem !important;
    margin: 0 -0.4rem !important;
  }

  .show {
    margin-bottom: 10rem !important;
  }
  .liStyle ul ul li a:hover {
    background-color: transparent !important;
  }
}

@media only screen and (max-width: 768px) {
  .summary {
    margin: 0 3rem 0 !important;
  }
  .responsibilities h3 {
    font-size: 18px !important;
    font-weight: bold;
  }
  .responsibilities ul li {
    font-size: 16px;
  }
  .applynow {
    font-size: 40px;
  }
  .applyparagh {
    font-size: 18px;
  }
  .applynow {
    text-align: center;
  }
}
@media only screen and (min-width: 992px) {
  .summary {
    margin: 0 4rem 0 !important;
  }

  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }

  .responsibilities h3 {
    font-size: 18px !important;
    font-weight: bold;
  }
  .responsibilities ul li {
    font-size: 16px;
  }
  .applynow {
    font-size: 40px;
  }
  .applyparagh {
    font-size: 16px;
  }

  .liStyle ul ul li a div {
    border-radius: 1rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .navbarr {
    margin-top: -0.5rem !important;
  }
}

@media only screen and (min-width: 1300px) {
  .navbarr {
    margin-top: -0.5rem !important;
  }

  .applynow {
    font-size: 50px;
  }
  .applyparagh {
    font-size: 17.5px !important;
    font-weight: 500 !important;
  }
}
