html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: url(../fonts/Biennale/Medium.otf) !important;
}
.default-color {
  color: #43247a !important;
}
.f-17 {
  font-size: 17px;
}
.f-18 {
  font-size: 18px;
}
a {
  text-decoration: none;
}

/*dropdown */




.navbarSection {
  z-index: 9999;
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
}

.liStyle ul ul li a div h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #43247a;
}
.liStyle ul ul li a div p {
  font-weight: 400;
  font-size: 9px;
  color: #808080;

    margin-bottom: -0.7rem;
}

/* .liStyle ul ul {
  padding: 0.3rem ;
} */

.liStyle ul ul li a div {
  border-radius: 7rem;
  width: 50% !important;
}
.liStyle ul ul li a {
  padding: 1rem;
}
/* .liStyle ul ul li a:hover {
  background-color: #e94e1b;
  color: white;
  border-radius: 1rem;
} */
.liStyle ul ul li:hover > a div h5,
.liStyle ul ul li:hover > a div p {
  color: white !important ;
}

.dropdown-menu {
  border-radius: 1.5rem;
}

.header {
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 700;
  font-size: 58px;
  line-height: 35px;
  text-transform: capitalize;
  color: #3c1e6c;
}

.jobs {
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.careerparagh {
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  color: #3c1e6c;
  opacity: 0.6;
}

.careerNav li a {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  text-align: center;
  color: rgba(60, 30, 108, 0.33) !important;
}
.careerNav li .active {
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;  
    border-image: linear-gradient(0.25turn, #e94e1b,#e6007e)  ;
   border-bottom: 3px solid transparent;
    border-image-slice: 1;
}


.careerNav li {
  margin: 0 0.7rem;
  text-transform: capitalize;
}

.enrichAcademy {
  font-weight: 500;
  font-size: 18px;
  line-height: 5px;
letter-spacing: -.05rem;
  color: #000000;
}

.freelance {
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  color: #000000;
}

.englishInstructor {
  font-weight: 450;
  font-size: 24px;
  line-height: 32px;
letter-spacing: -.05rem;
  color: #000000;
}

.fulltime {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 1rem !important;
}

.cardParagh {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #585858;
}

.cardBody {
  width: 24%;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 1.2rem .8rem;
}

.mount {
  font-weight: 600;
  font-size: 18px;
  line-height: 21.09px;
}

.month {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
}
.cardBtn {
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  background: #f0e8ff;
  color: #7b55ec;
  border: #f0e8ff;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
}
.cardBtn:hover {
  left: calc(50% - 200px / 2 - 87.5px);
  color: white;
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  border: none;
}

.navbarSection {
  z-index: 9999;
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
  color: #3c1e6c !important;
  font-weight: bold;
  margin-bottom: 4rem;
}
.borderNav {
  border-bottom: 1px solid rgba(67, 36, 122, 0.18);
}

.navbarColor {
  list-style-type: none;
  color: #3c1e6c !important;
}
.navChoose {
  color: #3c1e6c !important;
}
.nav-item,
.nav-link a,
.nav-link {
  color: #3c1e6c !important;
  opacity: 1 !important;
  font-weight: 600;
  font-size: 15px;
  line-height: 10px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.active {
  color: #ff5f08 !important ;
}
.LoadMore {
  width: 180px;
  height: 55px;
  left: calc(50% - 200px / 2 - 87.5px);
  top: 594px;
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  border-radius: 15.56px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

/*footer */
.logo-footer {
  width: 200px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #43247a;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.last-fooer {
  border-top: 2px solid #eeebf3;
}
@media only screen and (max-width: 600px) {

.newest{
  font-size: 40px;
}
.careerparagh{
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;

}
.careerNav{
  flex-wrap: wrap;
}
.crudBody{
  flex-wrap: wrap !important;
}
.cardBody{
  width: 90%;
  margin: auto;
  margin-bottom: .7rem;
}
.cardBody {
  padding: 1rem 2rem ;

}


.liStyle ul ul {
    padding: -0.7rem !important;
}





}


@media only screen and (min-width: 600px) {

.newest{
  font-size: 40px;
}
.careerparagh{
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;

}
.careerNav{
  flex-wrap: wrap;
}
.crudBody{
  flex-wrap: wrap !important;
}
.cardBody{
  width: 90%;
  margin: auto;
  margin-bottom: .7rem;
  padding: 1rem 2rem ;
}
.liStyle ul ul {
    padding: -0.7rem !important;
}

}
@media only screen and (min-width: 768px) {
.cardBody{
  width: 45%;
  /* margin: auto; */
  margin-bottom: .7rem;
  padding: 1rem 1rem ;
}
.crudBody{
flex-wrap: wrap !important;
}

.liStyle ul ul  {
  padding: -.7rem !important;
}

}

@media only screen and (min-width: 992px) {

  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .crudBody{
  flex-wrap: wrap !important;
}
.cardBody{
  width: 30%;
  margin: auto;
  margin-bottom: .8rem;
  padding: 1rem 1rem ;
}

}






@media only screen and (min-width: 1200px) {


  .crudBody{
    margin: auto 5rem !important;
  }

.cardBody{
  width: 24%;
  margin: auto ;
  margin-bottom: .8rem;
  padding: 1rem .7rem  !important;
}
.enrichAcademy{
  font-weight: 600;
  font-size: 16.5px;
  letter-spacing: .02rem;
}
.englishInstructor{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .02rem;
  margin-bottom: 0rem;

}
.fulltime{
  font-size: 13px;
  font-weight: 600;

}
.cardParagh{
  font-size: 10px;
  letter-spacing: .02rem;
}


}



@media only screen and (min-width: 1300px) {
    .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .crudBody{
  flex-wrap: wrap !important;
}
.cardBody{
  width: 24%;
  margin: auto;
  margin-bottom: .8rem;
  padding: 1rem 1rem  !important;
}
.enrichAcademy{
  font-weight: 600;
  font-size: 16.5px;
  letter-spacing: .02rem;
}
.englishInstructor{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .02rem;
  margin-bottom: 0rem;

}
.fulltime{
  font-size: 13px;
  font-weight: 600;

}
.cardParagh{
  font-size: 10px;
  letter-spacing: .02rem;
}
}
