.titleService {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #43247a;
}

.servicesParagh {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #43247a;
  opacity: 0.8;
  width: 60%;
}
h5 {
  font-weight: bolder;
  font-size: 22px;
  line-height: 28px;

  font-family: url(../fonts/Biennale/Bold.otf) !important;

  color: #43247a;
}
.bookParagh {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.79);

  opacity: 0.5;
}

.liStyle ul ul li a div {
  border-radius: 7rem;
  width: 50% !important;
}
/* 
.liStyle ul ul {
  padding: 0.3rem;
} */
.liStyle ul ul li a {
  padding: 1rem;
}
/* .liStyle ul ul li a:hover {
  background-color: #e94e1b;
  color: white !important ;
  border-radius: 1rem;
} */
.liStyle ul ul li:hover > a div h5,
.liStyle ul ul li:hover > a div p {
  color: white !important ;
}
.dropdown-menu {
  border-radius: 1.5rem;
}




@media only screen and (max-width: 600px) {



  .dropdownListt {
    display: block !important;
  }

  .showDropdown {
    border: none !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: none !important;
  }

  .showDropdown .dropdownListt {
    margin: -6rem -1.5rem -9rem -1.5rem;
  }
  .liStyle ul ul li a {
    padding: 0.1rem 0 !important;
  }
  .liStyle ul ul li a div h5 {
    font-size: 11px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 0.6;
  }

  .liStyle ul ul {
    padding: 0rem 0.7rem;
  }

  .navbaar .navChoose li {
    margin: -0.2rem 0rem !important;
  }



  /* .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: rgb(85, 11, 100) !important;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.4rem 0.3rem !important;
    opacity: 1 !important;
  } */





  /******** navvvv ***********/

.dropdownMenu{
  display: block !important;
  border: none;
  
}
.dropdownMenu ul li a div p{
  display: none ;
}
.dropdownMenu ul li a div{
  margin: -8rem -.5rem !important;
}


.dropdown-menu.show {
border: none ;
}

.dropdownMenu ul li a div h5{
  opacity: 1 !important;
  margin: -.3rem 0  !important;
}


.dropdown-menu[data-bs-popper] {
    top: 68%;
    left: 0;
    margin-top: 0.125rem;
}
.colorarr{
   margin-bottom:-8rem !important;
}



.show{
  background-color: transparent;
  margin-bottom: 10rem !important;
}



 .dropdownMenu ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: .7rem;
    width: fit-content !important;
    padding: 0.3rem .2rem !important;
    margin: 0  -.4rem !important;
  }


 .liStyle ul ul li a:hover {
    background-color: transparent;
 
  } 


  .dropdownMenu ul li:hover > a div h5,
  .dropdownMenu ul li:hover > a div p {
    color: white !important ;
  }
  .dropdown-menu {
    border-radius: 1.5rem !important;
    background-color: none !important;
  }





/********************** */




  .colorLines {
    color: black !important;
  }
  .navChoosee {
    display: block !important;
  }
  .navChoosee li {
    margin: 1.2rem 0;
  }
  .languagee {
    margin-left: 1rem !important;
  }
  .bttn:focus:not(:focus-visible) {
    outline: none !important;
    border: transparent 1px solid !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url(
      data:image/svg + xml,
      %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
    ) !important;
  }
  .firstClient {
    font-size: 30px;
  }
  .clientParagh {
    font-size: 15px;
    width: 75% !important;
  }
  .purple {
    margin: 0 1rem !important;
  }
  .titleService {
    font-size: 35px;
    margin-top: 0 !important;
  }
  .ourClientSec {
    margin-bottom: 6rem !important;
  }
  .redBooks {
    flex-wrap: wrap !important;
  }
  .swiperArrow {
    gap: 0.3rem;
  }
  .academedy {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeamParagh {
    text-align: center !important;
    margin: 0 auto 2rem !important;
  }
  .teamEnrich {
    font-size: 35px;
    line-height: 3rem;
  }
  .general {
    font-size: 40px !important;
  }
  .faq {
    font-size: 40px !important;
  }
  .accordion-header button {
    font-size: 20px !important;
  }
  .accordion-body {
    font-size: 17px !important;
    margin-bottom: -5rem !important;
  }

  .all-accord {
    width: 85%;
  }
  .customer {
    font-size: 40px;
  }
}
@media only screen and (min-width: 600px) {


.dropdownMenu{
  display: block !important;
  border: none;
  
}
.dropdownMenu ul li a div p{
  display: none ;
}
.dropdownMenu ul li a div{
  margin: -8rem -.5rem !important;
}


.dropdown-menu.show {
border: none ;
}

.dropdownMenu ul li a div h5{
  opacity: 1 !important;
  margin: -.3rem 0  !important;
}


.dropdown-menu[data-bs-popper] {
    top: 68%;
    left: 0;
    margin-top: 0.125rem;
}
.colorarr{
   margin-bottom: -8rem !important;
}


.show{
  background-color: transparent;
  margin-bottom: 10rem !important;
}



.dropdownMenu ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: .7rem;
    width: fit-content !important;
    padding: 0.3rem .2rem !important;
    margin: 0  -.4rem !important;
  }


 .liStyle ul ul li a:hover {
    background-color: transparent;
 
  } 


  .dropdownMenu ul li:hover > a div h5,
  .dropdownMenu ul li:hover > a div p {
    color: white !important ;
  }


.liStyle ul ul {
    padding: -0.7rem !important;
}





  .colorLines {
    color: black !important;
  }
  .navChoosee {
    display: block !important;
  }
  .navChoosee li {
    margin: 1.2rem 0;
  }
  .languagee {
    margin-left: 1rem !important;
  }
  .bttn:focus:not(:focus-visible) {
    outline: none !important;
    border: transparent 1px solid !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url(
      data:image/svg + xml,
      %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
    ) !important;
  }
  .firstClient {
    font-size: 30px;
  }
  .clientParagh {
    font-size: 15px;
    width: 75% !important;
  }
  .purple {
    margin: 0 1rem !important;
  }
  .titleService {
    font-size: 35px;
    margin-top: 0 !important;
  }
  .ourClientSec {
    margin-bottom: 6rem !important;
  }
  .redBooks {
    flex-wrap: wrap !important;
  }
  .swiperArrow {
    gap: 0.3rem;
  }
  .academedy {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeamParagh {
    text-align: center !important;
    margin: 0 auto 2rem !important;
  }
  .teamEnrich {
    font-size: 35px;
    line-height: 3rem;
  }
  .general {
    font-size: 40px !important;
  }
  .faq {
    font-size: 40px !important;
  }
  .accordion-header button {
    font-size: 20px !important;
  }
  .accordion-body {
    font-size: 17px !important;
    margin-bottom: -5rem !important;
  }

  .all-accord {
    width: 85%;
  }
  .customer {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {

.dropdownMenu{
  display: block !important;
  border: none;
  
}
.dropdownMenu ul li a div p{
  display: none ;
}
.dropdownMenu ul li a div{
  margin: -8rem -.5rem !important;
}


.dropdown-menu.show {
border: none ;
}

.dropdownMenu ul li a div h5{
  opacity: 1 !important;
  margin: -.3rem 0  !important;
}


.dropdown-menu[data-bs-popper] {
    top: 68%;
    left: 0;
    margin-top: 0.125rem;
}
.colorarr{
   margin-bottom: -8rem !important;
}



.show{
  background-color: transparent;
  margin-bottom: 10rem !important;
}



 .dropdownMenu ul li a div h5:hover {
    /* background-color: #e94e1b; */
    /* color: rgb(85, 11, 100) !important; */
    border-radius: .7rem;
    width: fit-content !important;
    padding: 0.3rem .2rem !important;
    margin: 0  -.4rem !important;
  }




  .colorLines {
    color: black !important;
  }
  .navChoosee {
    display: block !important;
  }
  .navChoosee li {
    margin: 1.2rem 0;
  }
  .languagee {
    margin-left: 1rem !important;
  }
  .bttn:focus:not(:focus-visible) {
    outline: none !important;
    border: transparent 1px solid !important;
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }
  .navbar-dark .navbar-toggler-icon {
    background-image: url(
      data:image/svg + xml,
      %3csvgxmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"%3e%3cpathstroke="rgba%28255, 255, 255, 0.55%29"stroke-linecap="round"stroke-miterlimit="10"stroke-width="2"d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e
    ) !important;
  }
  .firstClient {
    font-size: 30px;
  }
  .clientParagh {
    font-size: 15px;
    width: 75% !important;
  }
  .purple {
    margin: 0 1rem !important;
  }
  .titleService {
    font-size: 35px;
    margin-top: 0 !important;
  }
  .ourClientSec {
    margin-bottom: 6rem !important;
  }
  .redBooks {
    flex-wrap: wrap !important;
  }
  .swiperArrow {
    gap: 0.3rem;
  }
  .academedy {
    flex-wrap: wrap;
    text-align: center;
  }
  .titleTeamParagh {
    text-align: center !important;
    margin: 0 auto 2rem !important;
  }
  .teamEnrich {
    font-size: 35px;
    line-height: 3rem;
  }
  .general {
    font-size: 40px !important;
  }
  .faq {
    font-size: 40px !important;
  }
  .accordion-header button {
    font-size: 20px !important;
  }
  .accordion-body {
    font-size: 17px !important;
    margin-bottom: -5rem !important;
  }

  .all-accord {
    width: 85%;
  }
  .customer {
    font-size: 40px;
  }
}

@media only screen and (min-width: 992px) {






.navbarSection {
  z-index: 9999;
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
}

.navbarColor {
  color: white !important;
}

/*dropdown */

.liStyle ul ul li a div h5 {
  font-weight: 600;
  /* line-height: 17px; */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #43247a;
  margin-bottom: .2rem !important;
}
.liStyle ul ul li a div p {
  font-weight: 400;
  /* font-size: 11px !important; */
  color: #808080;
  margin-bottom: 1rem !important;
  display: block;
}

.liStyle ul ul li a div {
  border-radius: 7rem;
  width: 50% !important;
  margin-bottom: .4rem !important;
}

.liStyle ul ul {
  padding: 0.3rem;
}
.liStyle ul ul li a {
  padding: 1rem;
}
.dropp ul ul li {
    padding: 1rem 0 !important;
    opacity: 1;
}



.dropdown-menu {
  border-radius: 1.5rem;
}

.dropdownMenu{
display: flex !important;
/* background-color: white ; */
margin-top: 7rem !important;
margin-bottom: -7rem !important;
}



.dropdown-menu[data-bs-popper] {
    /* top: 388%; */
    top: 100%;
    margin-top: 0rem !important;
    background-color: white;
        padding: 1rem;

}


  .dropdownListt {
    display: flex !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: block !important;
  }

 

  .showDropdown .dropdownListt {
    margin: 0rem;
    border-radius: 2rem;
  }



  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 1;
  }


  .liStyle ul ul li a div h5 {
    font-weight: 600 !important;
    font-size: 13px !important;
    line-height: 20px !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    color: #43247a !important;
    margin-top: .3rem !important;
  }
  .liStyle ul ul li a div p {
    font-weight: 400 !important;
    font-size: 9px !important;
    color: #808080 !important;
    line-height: 12px !important;

    padding-bottom: 1rem !important;
  }

  .liStyle ul ul li a div {
    border-radius: .5rem !important;
    width: 50% !important;
    /* padding-bottom: 0rem !important; */
    padding: 0rem .5rem !important;

  }




  .liStyle ul ul li a div:hover {
    background-color: #e94e1b;
    color: white !important;

    width: fit-content !important;
}
  .liStyle ul ul li a div h5:hover {
    background-color: transparent;
    margin: 0 -0.4rem !important;
}







.liStyle ul ul li:hover > a div h5,
.liStyle ul ul li:hover > a div p {
  color: white !important ;
}



.colorarr{
   margin-bottom:0rem !important;
}




  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .redBooks {
    width: 100% !important;
  }
  .titleTeam {
    font-size: 18px !important;
  }
  .teamEnrich {
    font-size: 33px !important;
    line-height: 1rem !important;
    text-align: center !important;
  }

  .academedy {
    display: block !important;
  }
  .prevv {
    right: 50% !important;
    left: auto;
  }
  .nextt {
    left: 50% !important;
    right: auto;
  }


    .accordion-body{
    margin-bottom: 2rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .navchohes {
    display: flex !important;
  }

  .navbarSection {
    margin-top: 0 !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }

  .ourClientSec {
    margin-bottom: 13rem !important;
  }
  .titleService {
    font-size: 40px;
  }
  .servicesParagh {
    font-size: 15px;
  }
  .redBooks {
    width: 100% !important;
    margin: auto !important;
    margin-bottom: 3rem !important;
    align-items: center;
    justify-content: center;
  }

  .lefttt {
    margin-top: -10%;
  }
  .redBooks div div h5 {
    font-size: 20px;
  }
  .redBooks div div p {
    font-size: 14px;
  }
  .redBooks div div div img {
    width: 85px;
  }

  /* .titleTeam {
    font-size: 18px !important;
  }
  .teamEnrich {
    font-size: 33px !important;
    line-height: 1rem !important;
    text-align: center !important;
  }

  .academedy {
    display: block !important;
  } */

  .titleTeam {
    font-size: 16px !important;
    width: 80%;
    text-align: start !important;
    font-weight: 600 !important;
    margin-left: 8rem !important;
    margin-top: 1rem !important;
  }
  .teamEnrich {
    font-size: 40px !important;
    text-align: start !important;

    line-height: 4rem !important;
    /* text-align: center !important; */
  }

  .academedy {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    margin: 0 3rem 0 0 !important;
  }

  .all-accord {
    width: 100%;
  }
  .prevv {
    right: 50% !important;
    left: auto;
  }
  .nextt {
    left: 50% !important;
    right: auto;
  }
  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    left: 47% !important;
    right: auto;
  }
  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    right: 47% !important;
    left: auto;
  }

  .accordion-body{
    margin-bottom: 2rem !important;
  }


}

@media only screen and (min-width: 1300px) {
  .navchohes {
    display: flex !important;
  }

  .navbarSection {
    margin-top: 0 !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .simply {
    margin-bottom: 0 !important ;
  }
  .firstClient {
    letter-spacing: 0.1rem;
  }

  .clientParagh {
    width: 40% !important;
    font-size: 14px;
    letter-spacing: 0.05rem;
  }

  .ourClientSec {
    margin-bottom: 13rem !important;
  }
  .titleService {
    font-size: 43px;
    margin-top: 2rem !important;
  }
  .servicesParagh {
    font-size: 15px;
    width: 70%;
  }
  .redBooks {
    width: 85% !important;
    margin: auto !important;
    margin-bottom: 3rem !important;
    align-items: center;
    justify-content: center;
  }

  .lefttt {
    margin-top: -10%;
  }
  .redBooks div div h5 {
    font-size: 20px;
  }
  .redBooks div div p {
    font-size: 14px;
  }
  .redBooks div div div img {
    width: 85px;
  }

  .titleTeam {
    font-size: 16px !important;
    width: 80%;
    text-align: start !important;
    font-weight: 600 !important;
    margin-left: 8rem !important;
    margin-top: 1rem !important;
  }
  .teamEnrich {
    font-size: 40px !important;
    text-align: start !important;

    line-height: 4rem !important;
    /* text-align: center !important; */
  }

  .academedy {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between !important;
    margin: 0 3rem 0 0 !important;
  }
  .all-accord {
    width: 100%;
  }
  .prevv {
    right: 50% !important;
    left: auto;
  }
  .nextt {
    left: 50% !important;
    right: auto;
  }
  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    left: 47% !important;
    right: auto;
  }
  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    right: 47% !important;
    left: auto;
  }

   .accordion-body{
    margin-bottom: 2rem !important;
  }


  /* .hoovering ul ul li a:hover {
  background-color: #e94e1b;
  color: white !important ;
  border-radius: 1rem;
} */
}
