html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  word-break: break-word;
  overflow-x: hidden;
  min-height: 100vh;
  animation: 1s 0.1s fadeIn backwards;
  color: #000;
}

::selection {
  color: #e94e1b;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: rgb(255 255 255);
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #a4bcfd;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3538cd;
  /* display: none; */
}

@font-face {
  font-family: bold;
  src: url(../fonts/Biennale\ Black.otf);
  font-display: swap;
}

@font-face {
  font-family: medium;
  src: url(../fonts/Biennale\ Medium.otf);
  font-display: swap;
}

@font-face {
  font-family: regular;
  src: url(../fonts/Biennale_Book.otf);
  font-display: swap;
}

.bold {
  font-family: "bold";
}

.medium {
  font-family: "medium";
}

.regular {
  font-family: "regular";
}

.webkit-1,
.webkit-3,
.webkit-4 {
  display: -webkit-inline-box;
  -webkit-box-orient: vertical !important;
  width: 100% !important;
  overflow: hidden !important;
}

.webkit-1 {
  -webkit-line-clamp: 1 !important;
}

.webkit-2 {
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.webkit-3 {
  -webkit-line-clamp: 3 !important;
}

.webkit-4 {
  -webkit-line-clamp: 4 !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.default-color {
  color: #43247a;
}

.purple {
  color: #7b55ec;
}
.purpleAnnual {
  color: #7b55ec;
}

.fushia {
  color: #e6007e;
}

.orange {
  color: #e94e1b;
}

.gray {
  color: #494949;
}

.br-bottom {
  border-bottom: 1px solid #ececec;
}

.bg-orange {
  background-color: #e94e1b !important;
}

.default-bg {
  background-color: #43247a !important;
}

.fushia-bg {
  background-color: #e6007e !important;
}

.bg-purple {
  background-color: #7b55ec !important;
}
.line-3 {
  line-height: 3;
}

.f-3-rem {
  font-size: 3.4rem;
}
.f-3rem {
  font-size: 3rem;
}
.f-2rem {
  font-size: 2.75rem;
}

.f-2-4-rem {
  font-size: 2.4rem;
}
.f-28 {
  font-size: 28px;
}
.f-25 {
  font-size: 25px;
}

.f-22 {
  font-size: 22px;
}

.f-20 {
  font-size: 20px;
}

.f-19 {
  font-size: 19px;
}

.f-18 {
  font-size: 18px;
}

.f-17 {
  font-size: 17px;
}

.f-16 {
  font-size: 16px;
}

.f-15 {
  font-size: 15px;
}
.f-14 {
  font-size: 14px;
}

.f-13 {
  font-size: 13px;
}
.f-11 {
  font-size: 11px;
}

.br-10 {
  border-radius: 10px;
}
.br-15 {
  border-radius: 15px;
}
.br-25 {
  border-radius: 25px;
}

.w-35 {
  width: 35px;
}
.w-115 {
  width: 115px !important;
}
.w-110 {
  width: 110px !important;
}

.op-60 {
  opacity: 60%;
}

.p-80 {
  padding-top: 80px;
  padding-bottom: 100px;
}

.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.p-180 {
  padding-top: 100px;
  padding-bottom: 80px;
}

.br-black {
  border-bottom: 1px solid #262626;
}

/* navbar css  */

.form-control{
  color: #3c1e6c !important;
}
/* .widthHeight{
  width: 200px !important;
  height: 200px !important;
} */


 .dropdown-menu {
   
    box-shadow: 0 45px 32px 0px rgb(73 68 68 / 22%) !important;
  }

.navbarSection {
  z-index: 9999;
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
}

.navbarColor {
  color: white !important;
}





/* buttons enrich */



.btnnn:hover {
  border: #3c1e6c 2px solid ;
  transition: 1s ease-in-out;
  background: #e6007e;
color: #3c1e6c !important;
font-weight: bolder !important;

}


.sendd{
  width: 100% !important;
}





/*dropdown */





.liStyle ul ul li a div h5 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #43247a;
}
.liStyle ul ul li a div p {
  font-weight: 400;
  font-size: 8px;
  color: #808080;
  margin-bottom: -0.7rem;
}

.liStyle ul ul li a div {
  border-radius: 7rem;
  width: 50% !important;
}

.liStyle ul ul {
  padding: 0.3rem;
}
.liStyle ul ul li a {
  padding: 1rem;
}
/* .liStyle ul ul li a:hover {
  background-color: #e94e1b;
  color: white !important ;
  border-radius: 1rem;
} */
.liStyle ul ul li:hover > a div h5,
.liStyle ul ul li:hover > a div p {
  color: white !important ;
}
.dropdown-menu {
  border-radius: 1.5rem;
}

/* hero section  */
.heroSection {
  background: url("../img/heroBg.png");
  height: 100vh !important;
  width: 100%;
  z-index: -1;
  background-size: cover;
  font-family: url(../fonts/Biennale/Medium.otf) !important;
  margin-top: -7.7rem;
}

.heroText {
  padding-top: 12% !important;
}

.heroTextOne,
.heroTextTwo {
  font-weight: 800;
  font-size: 100px;
  line-height: 90px;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: -0.2rem;
}

.heroTextOne {
  z-index: 9999;
  text-shadow: 0px 70px 70px rgba(0, 0, 0, 0.8);
}

.plane {
  right: 0;
  margin-top: 7%;
  height: 440px;
}

.hand {
  margin-top: 27%;
  height: 300px;
}

.arrow {
  margin-top: 28%;
  left: 20%;
  height: 200px;
}

.book {
  width: 180px;
  height: 55px;
  left: calc(50% - 200px / 2 - 87.5px);
  top: 594px;
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  border-radius: 15.56px;
  border: none;
}

.moreThan {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}

.num {
  font-weight: 900;
  font-size: 32px;
  line-height: 30px;
}

/* about enrich */

.numb {
  background: #e94e1b;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border-radius: 50%;
  color: white;
  padding-top: 0.2rem;
}

.aboutEnrichParagh {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.aboutEnrichHead {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #3c1e6c;
}

.aenrichParag {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.79);
}

.enrichSction {
  height: 100vh;
  width: 100%;
}

.libraryPic {
  width: 389px;
  height: 218px;
}

.library {
  left: 38%;
}

.glassessPic {
  width: 594px;
  height: 255px;
}

/*====================contanet==================*/
.accordion-button {
  padding: 2.5rem 2.2rem;
  font-size: 24px;
  color: #43247a;
  font-weight: 700;
}

.accordion-item {
  background-color: #fff;
  border-top: 1px solid rgb(210 214 223);
  border-bottom: 1px solid #d2d6df;
  border-left: none;
  border-right: none;
}

.accordion-body {
  padding: 1rem 2.2rem;
  color: #96a0b5;
  font-size: 23px;
}

.accordion-button {
  color: #43247a;
  font-family: "medium";
}

.accordion-button:not(.collapsed) {
  color: #43247a;
  background-color: transparent;
  box-shadow: none;
  padding-bottom: 0.8rem;
  border-top: 4px solid #e94e1b;
}

.accordion-button:focus {
  z-index: 0;
  border-bottom: none;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
  border-top: 4px solid #e94e1b;
}

.accordion-item:not(.collapsed) {
  border-color: transparent;
  background-image: linear-gradient(to bottom, #fcd8cd80 50%, #fff9f933);
  border-bottom: none;
  border-bottom: 1.5px solid #d7dae2;
}

.services-sec .img-book {
  height: 240px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.services-sec .bg-purple-book {
  background-image: url(../img/bg-purple-book.png);
}

.services-sec .bg-fushia-book {
  background-image: url(../img/bg-fushia-book.png);
}

.services-sec .bg-blue-book {
  background-image: url(../img/bg-blue-book.png);
}

.services-sec .bg-orange-bbok {
  background-image: url(../img/bg-orange-book.png);
}

.services-sec .img-book img {
  /* width: 195px; */
  object-fit: cover;
}

.services-sec .img-book h3 {
  bottom: 10%;
  left: 8%;
}

span.num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 50px;
  height: 33px;
  border-radius: 50%;
  margin-inline-end: 1.2rem;
}

.animated-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  border-radius: 15px;
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
}
.learnMoore {
  width: 190px;
}
.animated-button2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 15px;
}

.form-control {
  display: inline-flex;
  padding: 0.375rem 1.4rem;
  font-size: 0.87rem;
  color: #d4d4d4;
  background-color: #f7f7f7;
  border: 1px solid transparent;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  height: 62px;
}

.form-control::placeholder {
  color: #d4d4d4;
}

.form-control:focus {
  color: #96a0b5;
  background-image: linear-gradient(90deg, #fcd8cd80 50%, #fff9f933);
  border-color: #e94e1b;
  outline: 0;
  box-shadow: none;
}

.swiper.swiper-team {
  width: 100%;
  height: 80%;
}

.swiper-team .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-start;
}

.swiper-team .swiper-slide img {
  display: block;
  width: 100%;
  height: 385px;
  object-fit: cover;
  border-radius: 15px;
}

.swiper-team .swiper-button-prev,
.swiper-team .swiper-button-next {
  width: 45px;
  height: 45px;
  margin-top: -16px;
  background-color: #e94e1b;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  top: unset;
  bottom: 0;
}

.swiper-team .swiper-button-next.swiper-button-disabled,
.swiper-team .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #3c1e6c !important;
  background-color: #f7f7f7 !important;
}
.title .swiper-button-next.swiper-button-disabled,
.title .swiper-button-prev.swiper-button-disabled,
.swiper-cursious .swiper-button-next.swiper-button-disabled,
.swiper-cursious .swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
  color: #3c1e6c !important;
  background-color: #fff !important;
}

.swiper-team .swiper-button-prev,
.swiper-team .swiper-rtl .swiper-button-next {
  left: 45.5%;
  right: auto;
}

.swiper-team .swiper-button-next,
.swiper-team .swiper-rtl .swiper-button-prev {
  right: 45.5%;
  left: auto;
}

.swiper-team .swiper-button-prev::after,
.swiper-team .swiper-button-next::after,
.title .swiper-button-prev::after,
.title .swiper-button-next::after {
  content: "";
}

.swiper-team .swiper-wrapper {
  height: 565px;
}

.swiper-team .slide-text {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  bottom: -13%;
  left: 5%;
  background-color: #fff;
  width: 90%;
  height: 110px;
  border-radius: 15px;
}

.says-sec,
.curious-sec {
  background-color: #f7f7f7;
}

.says-div {
  background-color: #fff;
  padding: 46px 23px 30px 20px;
  border-radius: 15px;
}
.says-div p {
  line-height: 1.5rem;
  width: 90%;
}

.simplyDummy {
  background: linear-gradient(90deg, #e94e1b 0%, #e6007e 99.99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.champion-sec,
.general-sec {
  background-image: url(../img/champion-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.champion-div {
  padding: 30px 35px;
  border-radius: 15px;
  margin-bottom: 35px;
}

.img-champ {
  border-radius: 50%;
  width: 201px;
  height: 201px;
  object-fit: cover;
}

.gneral-div {
  padding: 40px;
  border-radius: 40px;
  box-shadow: rgb(60 30 108) 0px 1px 4px;
}

.free-span {
  background-color: #3c1e6c;
  height: 30px;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.2px;
  border-radius: 15px;
}

.title .swiper-button-next,
.title .swiper-button-prev {
  position: unset;
  width: 45px;
  height: 45px;
  background-color: #e94e1b;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}

.swiper-cursious .content-wrapper .content .swiper-avatar {
  margin: 0;
  height: 450px;
}

.swiper-cursious .swiper-wrapper {
  height: 585px;
  align-items: center;
}

.swiper-cursious .swiper-slide {
  margin: 0;
  height: auto;
  width: 100%;
  padding: 0;
  filter: blur(12px);
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
  transform: scale(0.8);
  opacity: 0.6;
}
.swiper-cursious .swiper-slide.swiper-slide-active {
  filter: blur(0px);
  opacity: 1;
  transform: scale(1.1);
}
.swiper-cursious .swiper-nav-wrapper {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: auto;
  padding-top: 2.4em;
}
.swiper-cursious .swiper-nav-wrapper .swiper-button-next,
.swiper-cursious .swiper-nav-wrapper .swiper-button-prev {
  bottom: 0;
  top: auto;
  left: auto;
  right: auto;
  position: relative !important;
}
.swiper-cursious .swiper-nav-wrapper .swiper-button-next:after,
.swiper-cursious .swiper-nav-wrapper .swiper-button-prev:after {
  display: none;
}
.swiper-cursious .swiper-nav-wrapper .swiper-button-next,
.swiper-cursious .swiper-nav-wrapper .swiper-container-rtl .swiper-button-prev,
.swiper-cursious .swiper-nav-wrapper .swiper-button-prev,
.swiper-cursious .swiper-nav-wrapper .swiper-container-rtl .swiper-button-next {
  width: 45px;
  height: 45px;
  background-color: #e94e1b;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  margin: 0 8px;
}

.fyance-swiper {
  top: 34%;
  left: 44%;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.general-swiper {
  width: 100%;
  height: 80%;
}

.general-swiper .swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.general-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.general-swiper .swiper-button-prev::after {
  content: "";
}

.general-swiper .swiper-button-next::after {
  content: "";
}

.gneral-swiper {
  padding: 35px;
  overflow: hidden;
}

.feature {
  background-color: #3c1e6c;
  padding: 10px;
  position: absolute;
  display: inline-flex;
  top: 41%;
  right: -22%;
  transform: rotate(270deg);
  width: 125px;
  justify-content: center;
  align-items: baseline;
  height: 55px;
}

/* 
  .buttons{
    /* width: 230px !important; */

/* .buttons a {
    font-size: 13px !important;
  } */

.popupClickPic {
  /* background-color: #3c5077; */
  display: flex;
  align-items: end;
  justify-content: end;
}

.certificatePic {
  border-radius: 1rem;
  width: 800px;
}

.popup-new {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
.popup-new.open-popup {
  visibility: visible !important;
}
.content {
  z-index: 2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000004f;
  backdrop-filter: blur(3px) brightness(0.8);
}

.overflowww {
  overflow-x: auto !important;
  scrollbar-color: dark !important;
}

::-webkit-scrollbar-thumb {
  background: inherit;
  border-radius: 5px;
  /* display: none; */
}

::-webkit-scrollbar-track {
  background: inherit;
  /* display: none; */
}

/*=========================footer=====================*/
.logo-footer {
  width: 200px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #43247a;
  border-radius: 50%;
  width: 33px;
  height: 33px;
}

.last-fooer {
  border-top: 2px solid #eeebf3;
}

/*payment sec */
.paymentt {
  font-weight: 700;
  font-size: 33px;
  line-height: 48px;

  color: #3c1e6c;
}

.moreThan {
  color: white;
}
.paymentParagh {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  color: #3c1e6c;

  opacity: 0.6;
}
.change {
  width: 80px;
  height: 30px;
  left: 1212px;
  top: 223px;
  color: white;
  background: #e94e1b;
  border-radius: 10px;
  border: none;
  font-size: 10px;
}

/* animation */

.animate {
  width: 300px !important;
  height: 300px;
  display: block !important ;
}

.crudd {
  width: fit-content !important;
  background-color: #43247a !important;
  border-radius: 2rem;
  /* transition: all 5s ease-in-out !important; */
}

.secondDiv {
  background-color: #3c1e6c !important;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 0%;
  border-radius: 1rem !important;
  padding: 1rem 1.5rem !important ;
  /* transition: all .5s ease-in-out !important ; */
  margin-left: 0rem;
  margin-right: 1.5rem;
  /* width: 260px !important; */
  transition: width 1s ease-in-out !important;

  /* width: 0 !important; */
}

.chooseee {
  width: 170px !important;
  transition: all 0.4s ease-in-out !important;
}

.firstDiv {
  background-color: #43247a !important;
  width: 265px !important;
  transition: all ease 1s;
}

.hide {
  /* display: none !important; */
  opacity: 0 !important;
  transition: all 0.4s ease-in-out !important;
}

/* responsive */
/* small screen */

@media only screen and (max-width: 600px) {
  .heroSection {
    height: 100vh !important;
  }

  /* nav bar && hero section */

  .logoEnrich {
    width: 100px !important;
  }

  /* navbar mobile */

  .dropdownListt {
    display: block !important;
  }

  .showDropdown {
    border: none !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: none !important;
  }

  .showDropdown .dropdownListt {
    margin: -6rem -1.5rem -9rem -1.5rem;
  }
  .liStyle ul ul li a {
    padding: 0.1rem 0 !important;
  }
  .liStyle ul ul li a div h5 {
    font-size: 11px !important ;
  }

  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: rgb(85, 11, 100) !important;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.4rem 0.3rem !important;
    opacity: 1 !important;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 0.6;
  }

  .liStyle ul ul {
    padding: 0rem 0.7rem;
  }

  .navbaar .navChoose li {
    margin: -0.2rem 0rem !important;
  }

  /* end navbar */

  .list-unstyled {
    margin-bottom: 0 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding-top: 0 !important;
    color: #3c1e6c !important;
    font-size: 15px;
  }
  .navbar-toggler {
    background: linear-gradient(90deg, #8129c9 0%, #e6007e 99.99%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .colorAr {
    color: #8129c9;
    margin-left: -2rem;
    margin-top: 0.5rem;
  }

  .show {
    margin-bottom: 6rem !important;
  }

  .navColor a,
  .language {
    opacity: 1 !important;
  }

  .flag {
    border: #8129c9 4px solid;
    border-radius: 0.6rem;
    width: 40px;
  }

  .vedioo {
    width: 80% !important;
    margin: auto;
  }

  .heroSection {
    height: 100vh;
  }
  .plane,
  .hand,
  .arrow {
    display: none !important;
  }
  .heroText div div h1 {
    font-size: 40px;
    margin-bottom: 0.2rem !important ;
  }
  .heroTextOne {
    margin-top: 4.5rem;
    margin-bottom: 1rem !important;
  }
  .book {
    width: 120px;
    font-size: 14px;
  }
  .num {
    font-size: 24px;
  }
  .moreThan {
    color: white;
    font-size: 12px;
  }

  .services {
    font-size: 40px;
  }

  .learnMoore {
    width: 180px;
  }

  .desktop {
    font-size: 13px;
  }

  .generall {
    font-size: 40px;
  }

  .generalPara {
    font-size: 16px;
  }

  .paragh {
    font-size: 15px !important;
  }

  .otherServices {
    font-size: 35px;
  }

  .numm {
    padding: 0 0.5rem;
  }

  .send {
    font-size: 18px;
  }

  .teamm {
    font-size: 40px;
  }

  .customer {
    font-size: 35px;
  }

  .placmentt {
    font-size: 40px;
  }

  .swiper-cursious .content-wrapper .content .swiper-avatar {
    margin: 0;
    height: 300px;
  }

  .circle img {
    width: 75%;
  }

  .see {
    font-size: 15px;
  }

  .championn {
    font-size: 40px;
  }

  .championPara {
    font-size: 25px;
  }

  .gallery {
    font-size: 14px;
  }

  .champion {
    font-size: 45px;
  }

  .fyance-swiper {
    top: 34%;
    left: 39%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }

  .title .swiper-button-next,
  .title .swiper-button-prev {
    position: unset;
    width: 40px;
    height: 45px;
    background-color: #e94e1b;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
  }

  .curious {
    font-size: 40px;
  }

  .leeftt,
  .neextt {
    width: 35px !important;
  }

  .asked {
    font-size: 35px;
  }

  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    right: 51% !important;
    left: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    left: 51% !important;
    right: auto;
  }

  /* .swiper-team .swiper-button-next, .swiper-team .swiper-rtl .swiper-button-prev {
    right: 45.5%;
    left: auto;
} */

  .footerCss div {
    text-align: center !important;
    margin: 0.5rem 0;
  }
  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 43px !important;
  }

  .ship h3 {
    font-size: 30px !important;
  }

  .ship p {
    font-size: 15px !important;
  }
  .model {
    width: 80%;
    margin: auto;
  }
  .champion,
  .placment h2 {
    font-size: 40px;
  }
  .placment p {
    font-size: 17px;
  }
  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 400px;
  }
  .customer {
    font-size: 40px;
  }

  .tick {
    font-size: 12px !important;
    font-weight: 300;
    margin: -0.1rem 0 !important;
  }

  .arrowss {
    width: 90px !important;
  }

  .custumerrr {
    width: 80px !important;
  }

  .liStyle ul ul li a {
    padding: 0rem 0 !important;
  }

  .paymentNav ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: 0.7rem;
    width: fit-content !important;
    padding: 0.3rem 0.2rem !important;
    margin: 0 -0.4rem !important;
  }

  .paymentNav ul ul li a:hover {
    background-color: transparent;
  }
}

@media only screen and (min-width: 600px) {
  /* nav bar && hero section */

  /* navbar mobile */

  .dropdownListt {
    display: block !important;
  }

  .showDropdown {
    border: none !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: none !important;
  }

  .showDropdown .dropdownListt {
    margin: -6rem -1.5rem -9rem -1.5rem;
  }
  .liStyle ul ul li a {
    padding: 0.1rem 0 !important;
  }
  .liStyle ul ul li a div h5 {
    font-size: 11px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 0.6;
  }

  .liStyle ul ul {
    padding: 0rem 0.7rem;
  }

  .paymentNav ul li a div h5:hover {
    background-color: #e94e1b;
    border-radius: 0.7rem;
    width: fit-content !important;
    padding: 0.3rem 0.2rem !important;
    margin: 0 -0.4rem !important;
  }

  .paymentNav ul ul li a:hover {
    background-color: transparent;
  }

  .liStyle ul ul li a {
    padding: 0rem 0 !important;
  }

  .navbaar .navChoose li {
    margin: -0.2rem 0rem !important;
  }

  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: rgb(85, 11, 100) !important;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.4rem 0.3rem !important;
    opacity: 1 !important;
  }

  /* end navbar */

  .logoEnrich {
    width: 115px !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding-top: 0 !important;
    color: #3c1e6c !important;
    font-size: 15px;
  }
  .navbar-toggler {
    background: linear-gradient(90deg, #8129c9 0%, #e6007e 99.99%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .colorAr {
    color: #8129c9;
    margin-left: -2rem;
    margin-top: 0.5rem;
  }

  .show {
    margin-bottom: 7rem !important;
  }

  .navColor a,
  .language {
    opacity: 1 !important;
  }

  .flag {
    border: #8129c9 4px solid;
    border-radius: 0.6rem;
    width: 40px;
  }

  .heroSection {
    height: 100vh !important;
    padding-bottom: 2% !important;
  }
  .hero {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .plane,
  .hand,
  .arrow {
    display: none !important;
  }
  .heroText div div h1 {
    font-size: 57px;
  }
  .heroTextOne {
    margin-top: 4rem !important ;
    margin-bottom: 0rem !important;
  }
  .book {
    width: 140px;
  }
  .num {
    font-size: 30px;
  }
  .moreThan {
    color: white;
  }

  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    right: 49% !important;
    left: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    left: 49% !important;
    right: auto;
  }

  .arrowss div {
    width: 100px !important;
  }
  .footerCss div {
    text-align: center !important;
    margin: 0.5rem 0;
  }
  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 43px !important;
  }

  .ship h3 {
    font-size: 30px !important;
  }

  .ship p {
    font-size: 15px !important;
  }
  .model {
    width: 80%;
    margin: auto;
  }
  .champion,
  .placment h2 {
    font-size: 40px;
  }
  .placment p {
    font-size: 17px;
  }
  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 400px;
  }
  .customer {
    font-size: 40px;
  }

  .vedioo {
    width: 80% !important;
    margin: auto;
  }

  .tick {
    font-size: 12px !important;
    font-weight: 300;
    margin: -0.1rem 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  /* nav bar && hero section */

  /* navbar mobile */

  .dropdownListt {
    display: block !important;
  }

  .showDropdown {
    border: none !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: none !important;
  }

  .showDropdown .dropdownListt {
    margin: -6rem -1.5rem -9rem -1.5rem;
  }
  .liStyle ul ul li a {
    padding: 0.1rem 0 !important;
  }
  .liStyle ul ul li a div h5 {
    font-size: 11px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 0.6;
  }

  .liStyle ul ul {
    padding: 0rem 0.7rem;
  }

  .navbaar .navChoose li {
    margin: -0.2rem 0rem !important;
  }

  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: rgb(85, 11, 100) !important;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.4rem 0.3rem !important;
    opacity: 1 !important;
  }
  .liStyle ul ul li a {
    padding: 0rem 0 !important;
  }

  /* end navbar */

  .logoEnrich {
    width: 120px !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    padding-top: 0 !important;
    color: #3c1e6c !important;
    font-size: 15px;
  }
  .navbar-toggler {
    background: linear-gradient(90deg, #8129c9 0%, #e6007e 99.99%) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .colorAr {
    color: #8129c9;
    margin-left: -2rem;
    margin-top: 0.5rem;
  }

  .rightt {
    margin: 2rem auto !important;
  }
  .aboutEnrichParagh {
    width: 80%;
  }
  .work {
    width: 100%;
  }
  .leftOrange {
    width: 80%;
  }

  .show {
    margin-bottom: 6rem !important;
  }

  .navColor a,
  .language {
    opacity: 1 !important;
  }

  .flag {
    border: #8129c9 4px solid;
    border-radius: 0.6rem;
    width: 40px;
  }

  .heroSection {
    height: 100vh;
  }
  .hero {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .plane,
  .hand,
  .arrow {
    display: none !important;
  }
  .heroText div div h1 {
    font-size: 57px;
  }
  .heroTextOne {
    margin-top: 4rem !important ;
  }
  .book {
    width: 160px;
  }
  .num {
    font-size: 30px;
  }
  .moreThan {
    color: white;
  }
  .aboutEnrichSection {
    flex-wrap: wrap !important;
  }

  .swiper-team .swiper-button-prev,
  .swiper-team .swiper-rtl .swiper-button-next {
    right: 51% !important;
    left: auto;
  }

  .swiper-team .swiper-button-next,
  .swiper-team .swiper-rtl .swiper-button-prev {
    left: 51% !important;
    right: auto;
  }
  .footerCss div {
    text-align: center !important;
    margin: 0.5rem 0;
  }
  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 45px !important;
  }

  .ship h3 {
    font-size: 30px !important;
  }
  .ship {
    width: 100% !important;
  }

  .ship p {
    font-size: 15px !important;
    width: 90%;
  }
  .model {
    width: 100% !important;
    margin-top: 30% !important;
  }
  .champion,
  .placment h2 {
    font-size: 40px;
  }
  .placment p {
    font-size: 17px;
  }
  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 400px;
  }
  .customer {
    font-size: 40px;
  }
  .paragh {
    width: 85% !important;
  }

  .vedioo {
    width: 100% !important;
    margin: auto;
  }

  .tick {
    font-size: 12px !important;
    font-weight: 300;
    margin: -0.1rem 0 !important;
  }
  .footerCss div {
    text-align: center !important;

    margin: 0.5rem auto !important;
  }
}
@media only screen and (min-width: 992px) {
  /* nav bar && hero section */

  /* navbar mobile */

  .dropdownListt {
    display: flex !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: block !important;
  }

  .showDropdown .dropdownListt {
    margin: 0rem;
    border-radius: 2rem;
  }

  .liStyle ul ul li a div h5 {
    font-size: 13px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 1;
  }

  .liStyle ul ul li a {
    padding: 0rem 0 !important;
  }

  .liStyle ul ul li a div h5 {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 17px !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    color: #43247a !important;
  }
  .liStyle ul ul li a div p {
    font-weight: 400 !important;
    font-size: 8px !important;
    color: #808080 !important;
    margin-bottom: -0.7rem !important;
    padding-bottom: 0.3rem;
  }

  .liStyle ul ul li a div {
    border-radius: 7rem !important;
    width: 50% !important;
  }

  .liStyle ul ul {
    padding: 0.3rem !important;
  }
  .liStyle ul ul li a {
    padding: 0.5rem !important;
  }
  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: white !important ;
    border-radius: 1rem;
    /* padding: 0.5rem !important; */
    width: fit-content !important;
  }

  .liStyle ul ul li a div h5:hover {
    margin: 0rem !important;
  }

  .liStyle ul ul li:hover > a div h5,
  .liStyle ul ul li:hover > a div p {
    color: white !important ;
  }
  .dropdown-menu {
    border-radius: 1.5rem !important;
    background-color: none !important;
  }
  /* .dropdown-menu */

  .showDropdown .dropdownListt {
    background-color: white !important;
    opacity: 1 !important;
  }

  .logoEnrich {
    width: 125px !important;
  }

  .homeOpa {
    opacity: 0.7 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 13px !important;
    color: white !important;
  }
  .navbarColor {
    color: white !important;
  }
  .showw {
    padding: 0 !important;
  }

  .showw ul ul li a div p {
    margin-bottom: -1.7rem !important;
  }

  /* end navbar */

  .heroSection {
    height: 100vh !important;
    padding-bottom: 20% !important;
  }

  .plane,
  .hand,
  .arrow {
    display: block !important;
  }

  .rightt {
    margin: 2rem auto !important;
  }
  .aboutEnrichParagh {
    width: 80%;
  }
  .work {
    width: 100%;
  }
  .leftOrange {
    width: 80%;
  }

  .show {
    margin-bottom: 7rem !important;
  }
  .homeOpa {
    opacity: 0.7 !important;
  }

  .navColor a {
    opacity: 0.7 !important;
  }

  .flag {
    border: none;
    border-radius: 0.6rem;
    width: 40px;
  }
  .language {
    color: white;
  }

  .heroSection {
    height: 100vh;
  }
  .hero {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .arrow {
    display: none !important;
  }

  .heroText div div h1 {
    font-size: 70px;
  }

  .handLightImg {
    width: 85% !important;
  }
  .aboutEnrichParagh {
    font-size: 15px;
    line-height: 1.3rem;
    margin-bottom: 1.5rem !important;
  }
  .orangee {
    margin-bottom: 0rem !important;
  }
  .orangee li {
    margin-bottom: 0.1rem !important;
  }

  .heroTextOne {
    margin-top: 3rem !important ;
  }
  .book {
    width: 170px;
  }
  .num {
    font-size: 30px;
  }
  .englishPrices {
    margin: 0 3rem;
  }

  .moreThan {
    color: white;
  }
  .aboutEnrichSection {
    flex-wrap: wrap !important;
  }

  .arrowPrev {
    right: 51% !important;
    left: auto;
  }

  .arrowNext {
    left: 51% !important;
    right: auto;
  }

  .footerCss div {
    text-align: center !important;

    margin: 0.5rem auto !important;
  }

  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 45px !important;
  }

  .ship h3 {
    font-size: 30px !important;
  }
  .ship {
    width: 100% !important;
  }

  .ship p {
    font-size: 15px !important;
    width: 90%;
  }
  .model {
    width: 100% !important;
    margin-top: 10% !important;
  }
  .champion,
  .placment h2 {
    font-size: 40px;
  }
  .placment p {
    font-size: 19px;
  }

  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 600px;
  }
  .customer {
    font-size: 40px;
  }
  .paragh {
    width: 85% !important;
    font-size: 15px !important;
  }
  .ask-sec {
    width: 95% !important;
    margin: auto;
  }
  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }

  .vedioo {
    width: 90% !important;
    margin: auto;
  }

  .tick {
    font-size: 12px !important;
    font-weight: 300;
    margin: -0.1rem 0 !important;
  }

  .accordion-body {
    margin-bottom: 1.8rem !important;
  }

  .liStyle ul ul li a div {
    border-radius: 1rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  /* navbar mobile */

  .dropdownListt {
    display: flex !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: block !important;
  }

  .showDropdown .dropdownListt {
    margin: 0rem;
    border-radius: 2rem;
  }

  .liStyle ul ul li a div h5 {
    font-size: 13px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 1;
  }

  .liStyle ul ul li a div h5 {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 17px !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    color: #43247a !important;
  }
  .liStyle ul ul li a div p {
    font-weight: 400 !important;
    font-size: 8px !important;
    color: #808080 !important;
    margin-bottom: -0.7rem !important;
    padding-bottom: 0.3rem;
  }

  .liStyle ul ul li a div {
    border-radius: 7rem !important;
    width: 50% !important;
  }

  .liStyle ul ul li a {
    padding: 0rem 0 !important;
  }

  .liStyle ul ul {
    padding: 0.3rem !important;
  }
  /* .liStyle ul ul li a {
    padding: 0.5rem !important;
  } */
  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: white !important ;
    border-radius: 1rem;
    padding: 0.5rem !important;
    width: fit-content !important;
  }
  .liStyle ul ul li:hover > a div h5,
  .liStyle ul ul li:hover > a div p {
    color: white !important ;
  }
  .dropdown-menu {
    border-radius: 1.5rem !important;
    background-color: none !important;
  }
  /* .dropdown-menu */

  .showDropdown .dropdownListt {
    background-color: white !important;
    opacity: 1 !important;

  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    /* position: absolute; */
    /* box-shadow: 0 31px 19px 2px rgb(8 6 6 / 35%); */


  }
  .logoEnrich {
    width: 125px !important;
  }

  .homeOpa {
    opacity: 0.7 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 13px !important;
    color: white !important;
  }

  .navbarColor {
    color: white !important;
  }
  /* end navbar */

  .showw {
    padding: 0 !important;
  }

  .showw ul ul li a div p {
    margin-bottom: -1.7rem !important;
  }

  .logoEnrich {
    width: 125px !important;
  }

  .plane {
    right: 0;
    margin-top: 9% !important;
    height: 440px;
  }

  .navbarSection {
    z-index: 9999;
    font-family: url(../fonts/Biennale/Medium.otf) !important;
    font-weight: 600;
    font-size: 13px !important;
    margin-top: 7px !important;
    padding: -1rem 0 !important;
  }
  .heroTextOne,
  .heroTextTwo {
    font-weight: 800;
    font-size: 100px;
    line-height: 88px !important;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -0.2rem;
  }

  .navbarColor {
    color: white !important;
  }
  .navChoose li a {
    font-size: 13px !important;
  }
  .logo {
    width: 120px !important;
  }
  .heroSection {
    height: 100vh !important;
    padding-bottom: 2% !important;
  }
  .plane,
  .hand,
  .arrow {
    display: block !important;
  }
  .arrow {
    margin-top: 32.7% !important;
    left: 20%;
    height: 200px;
    width: 185px;
  }

  .book {
    font-size: 15px;
  }
  .rightt {
    margin: 2rem 1rem !important;
  }
  .aboutEnrichParagh {
    width: 80%;
  }
  .work {
    width: 100%;
  }
  .leftOrange {
    width: 100% !important;
  }
  .lefft {
    margin-top: 5% !important;
  }

  .level {
    font-size: 16px !important;
  }
  .egp {
    font-size: 11px;
  }
  .professional {
    font-size: 12px !important;
    font-weight: 300;
  }
  .englishPrices {
    margin: 0 0.5rem !important;
  }
  .tick {
    font-size: 12px;
    font-weight: 300;
    margin: -0.7rem 0 !important;
  }

  .strong {
    font-size: 45px;
  }
  .show {
    margin-bottom: 7rem !important;
  }
  .homeOpa {
    opacity: 0.7 !important;
  }

  .navColor a {
    opacity: 0.7 !important;
  }

  .flag {
    border: none;
    border-radius: 0.6rem;
    width: 40px;
  }
  .language {
    color: white;
  }

  .hero {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .heroText div div h1 {
    font-size: 100px;
  }

  .handLightImg {
    width: 90% !important;
  }
  .aboutEnrichParagh {
    font-size: 15px;
    line-height: 1.3rem;
    margin-bottom: 1.5rem !important;
  }
  .orangee {
    margin-bottom: 0rem !important;
  }
  .orangee li {
    margin-bottom: -1rem !important;
  }
  .mission h3 {
    font-size: 14px;
  }
  .mission p {
    font-size: 13px;
  }
  .orangee {
    margin-bottom: 3rem !important;
  }

  .heroTextOne {
    margin-top: 3rem !important ;
  }
  .book {
    width: 170px;
  }
  .num {
    font-size: 27px;
  }
  .englishPrices {
    margin: 0 3rem;
  }

  .moreThan {
    color: white;
    font-size: 14px;
    letter-spacing: 0.02rem;
  }
  .moore div {
    line-height: 2rem !important;
  }

  .aboutEnrichSection {
    flex-wrap: wrap !important;
  }

  .arrowPrev {
    right: 51% !important;
    left: auto;
  }

  .arrowNext {
    left: 51% !important;
    right: auto;
  }
  .footerCss div {
    text-align: center !important;
    margin: 0.5rem 0;
  }
  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 50px !important;
  }

  .ship h3 {
    font-size: 35px !important;
    line-height: 3rem;
  }
  .ship {
    width: 100% !important;
  }

  .ship p {
    font-size: 18px !important;
    width: 90%;
    line-height: 2rem;
  }
  .model {
    width: 100% !important;
    margin-top: 8% !important;
  }

  .learnMoore {
    font-size: 14px !important;
  }

  .champion,
  .placment h2 {
    font-size: 50px;
  }
  .placment p {
    font-size: 19px;
  }

  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 750px;
  }
  .customer {
    font-size: 40px;
  }
  .paragh {
    width: 85% !important;
    font-size: 15px !important;
  }
  .ask-sec {
    width: 95% !important;
    margin: auto;
  }
  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .vedioo {
    width: 85% !important;
    margin: auto;
  }

  .animate {
    width: 250px !important;
    height: 300px !important;
    display: block !important ;
  }

  .crudd {
    width: fit-content !important;
    background-color: #43247a !important;
    border-radius: 2rem;
    /* transition: all 5s ease-in-out !important; */
  }

  .secondDiv {
    background-color: #3c1e6c !important;
    color: #ffffff;
    opacity: 0.7;
    margin-top: 0%;
    border-radius: 1rem !important;
    padding: 1rem 1.5rem !important ;
    margin-left: 0rem;
    margin-right: 1.5rem;
    transition: width 1s ease-in-out !important;
  }

  .chooseee {
    width: 150px !important;
    transition: all 0.4s ease-in-out !important;
  }

  .firstDiv {
    background-color: #43247a !important;
    width: 265px !important;
    transition: all ease 1s;
  }

  .hide {
    /* display: none !important; */
    opacity: 0 !important;
    transition: all 0.4s ease-in-out !important;
  }

  /* .secondDiv div ul li h5 {
    padding-bottom: -0.7rem !important;
  } */

  .accordion-body {
    margin-bottom: 2rem !important;
  }
}

@media only screen and (min-width: 1300px) {
  /* navbar mobile */

  .dropdownListt {
    display: flex !important;
  }

  .showDropdown .dropdownListt ul li a div p {
    display: block !important;
  }



  /* .showDropdown .dropdownListt {
    box-shadow:  0px 289px 81px #000000 0px,
    0px 185px 74px #000000 0px,
    0px 104px 62px #000000 0px,
    0px 46px 46px #000000 0px
    
  


  } */

  .liStyle ul ul li a div h5 {
    font-size: 13px !important ;
  }

  .liStyle ul ul li {
    padding: 0.2rem 0;
    opacity: 1;
  }

  .liStyle ul ul li a div h5 {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 17px !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    color: #43247a !important;
  }
  .liStyle ul ul li a div p {
    font-weight: 400 !important;
    font-size: 8px !important;
    color: #808080 !important;
    margin-bottom: -0.7rem !important;
    padding-bottom: 0.3rem;
  }

  .liStyle ul ul li a div {
    border-radius: 7rem !important;
    width: 50% !important;
  }

  .liStyle ul ul {
    padding: 0.3rem !important;
  }
  .liStyle ul ul li a {
    padding: 0rem !important;
  }
  .liStyle ul ul li a:hover {
    background-color: #e94e1b;
    color: white !important ;
    border-radius: 1rem;
    padding: 0.5rem !important;
    width: fit-content !important;
  }
  .liStyle ul ul li:hover > a div h5,
  .liStyle ul ul li:hover > a div p {
    color: white !important ;
  }
  .dropdown-menu {
    border-radius: 1.5rem !important;
    background-color: none !important;
  }
  /* .dropdown-menu */

  .showDropdown .dropdownListt {
    background-color: white !important;
    opacity: 1 !important;
  }

  .arrowss {
    width: 110px !important;
  }

  .logoEnrich {
    width: 125px !important;
  }

  .homeOpa {
    opacity: 0.7 !important;
  }

  .navbar-dark .navbar-nav .nav-link {
    color: white !important;
  }
  .navbarColor {
    color: white !important;
  }
  /* end navbar */

  .showw {
    padding: 0 !important;
  }

  .showw ul ul li a div p {
    margin-bottom: -1.7rem !important;
  }

  .navbarSection {
    z-index: 9999;
    font-family: url(../fonts/Biennale/Medium.otf) !important;
    font-weight: 600;
    font-size: 13px !important;
    margin-top: 7px !important;
    padding: -1rem 0 !important;
  }
  .heroTextOne,
  .heroTextTwo {
    font-weight: 800;
    font-size: 105px !important;
    line-height: 88px !important;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -0.2rem;
  }
  .plane {
    right: 0;
    margin-top: 9% !important;
    height: 440px;
  }

  .navbarColor {
    color: white !important;
  }
  .navChoose li a {
    font-size: 13px !important;
  }
  .logo {
    width: 120px !important;
  }
  .heroSection {
    height: 100% !important;
    padding-bottom: 4%;
  }
  .plane,
  .hand,
  .arrow {
    display: block !important;
  }
  .arrow {
    margin-top: 31.5% !important;
    left: 23%;
    height: 200px;
    width: 185px;
  }

  .book {
    font-size: 15px;
  }
  .rightt {
    margin: 0rem 2rem !important;
  }
  .handLightImg {
    width: 100% !important;
  }

  .work {
    width: 100%;
  }
  .leftOrange {
    width: 100% !important;
  }
  .lefft {
    margin-top: 5% !important;
  }

  .level {
    font-size: 16px !important;
  }
  .egp {
    font-size: 11px;
  }
  .professional {
    font-size: 12px !important;
    font-weight: 300;
  }
  .englishPrices {
    margin: 0 0.5rem !important;
  }
  .tick {
    font-size: 12px !important;
    font-weight: 300;
    margin: -0.4rem 0 !important;
  }

  .strong {
    font-size: 45px;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .homeOpa {
    opacity: 0.7 !important;
  }

  .navColor a {
    opacity: 0.7 !important;
  }

  .flag {
    border: none;
    border-radius: 0.6rem;
    width: 40px;
  }
  .language {
    color: white;
  }

  .hero {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .heroText div div h1 {
    font-size: 100px;
  }

  .aboutEnrichParagh {
    margin-bottom: 3.5rem !important;
    width: 90%;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    margin-top: 0rem !important;
  }

  .tick {
    font-size: 12px;
    font-weight: 300;
    margin: -0.7rem 0 !important;
  }

  .orangee {
    margin-bottom: 0rem !important;
  }
  .orangee li {
    margin-bottom: -1rem !important;
  }
  .mission h3 {
    font-size: 14.5px;
    font-weight: bold;
  }
  .mission p {
    font-size: 14px;
    margin-bottom: 1rem !important;
    width: 80%;
  }

  .lefft {
    margin: auto !important;
  }
  .orangee {
    margin-bottom: 3rem !important;
  }

  .heroTextOne {
    margin-top: 3rem !important ;
  }
  .book {
    width: 170px;
  }
  .num {
    font-size: 27px;
  }
  .englishPrices {
    margin: 0 3rem;
  }

  .moreThan {
    color: white;
    font-size: 14px;
    letter-spacing: 0.02rem;
  }
  .moore div {
    line-height: 2rem !important;
  }

  .aboutEnrichSection {
    flex-wrap: wrap !important;
  }

  .aboutEnrichSection {
    margin-bottom: 0rem !important;
  }
  .vedioo {
    width: 85% !important;
    margin: auto;
  }
  .see {
    font-size: 15px;
    font-weight: lighter !important;
  }

  .arrowPrev {
    right: 51% !important;
    left: auto;
  }

  .arrowNext {
    left: 51% !important;
    right: auto;
  }
  .footerCss div {
    text-align: center !important;
    margin: 0.5rem 0;
  }
  .footerCss div div div {
    text-align: center !important;
    justify-content: center !important;
  }

  .ship h2 {
    font-size: 50px !important;
  }

  .ship h3 {
    font-size: 35px !important;
    line-height: 3rem;
    width: 95%;
  }
  .ship {
    width: 100% !important;
  }

  .ship p {
    font-size: 16px !important;
    width: 90%;
    line-height: 1.6rem;
  }
  .model {
    width: 95% !important;
    margin-top: 8% !important;
  }
  .send {
    font-size: 18px !important;
    /* font-weight: 600 !important; */
  }

  .learnMoore {
    font-size: 14px !important;
  }

  .championn {
    margin-bottom: 2rem !important;
  }

  .champion,
  .placment h2 {
    font-size: 50px;
  }
  .placment p {
    font-size: 19px;
  }

  .teamm {
    font-size: 40px;
  }
  .certificatePic {
    border-radius: 1rem;
    width: 870px;
  }
  .customer {
    font-size: 40px;
  }
  .paragh {
    width: 75% !important;
    font-size: 14px !important;
  }
  .ask-sec {
    width: 95% !important;
    margin: auto;
  }

  .numm {
    width: 40px !important;
  }

  .navchohes {
    display: flex !important;
  }
  .navcolorr a {
    opacity: 1 !important;
  }
  .show {
    margin-bottom: 0 !important;
  }
  .all-accord {
    width: 100%;
  }
  .accordion-body {
    margin-bottom: 2rem !important;
  }
  .payment li {
    margin: -0.8rem 0 !important;
  }
  .arrowss div {
    width: 90px !important;
  }

  .showDropdown .dropdownListt {
    margin: -1rem;
    border-radius: 2rem;
  }
}
